<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ustc.blog.mapper.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ustc.blog.entity.SysRole">
        <result column="id" property="id" />
        <result column="created" property="created" />
        <result column="updated" property="updated" />
        <result column="statu" property="statu" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        created,
        updated,
        statu,
        name, code, remark
    </sql>
    <!--这里是查询roles-->
    <select id="test" resultType="String">
        select sr.code
        from sys_role sr
                 left join sys_user_role sur on sr.id = sur.role_id
                 left join sys_user su on sur.user_id = su.id
        where su.id = #{userId}
    </select>

</mapper>
